.card {
    border-radius: 0.5rem;
    background-color: var(--pure-white);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
    transition: 0.15s all linear;
}

.product-img {
    width: 100%;
    height: 200px;
}

.card:hover {
    border: 2px groove rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.card-text {
    font-size: 15px;
    color: var(--dark);
}

.price {
    background-color: var(--dark);
    color: var(--pure-white);
    /* color: #FFFFFF; */
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    display: inline-block;
}

.number {
    background-color: var(--dark);
    color: var(--pure-white);
    font-family: monospace;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    display: block;
    margin-top: 1rem;
}